<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>后台管理-添加场</title>
    <link href="__PUBLIC__/css/cwh.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="__PUBLIC__/js/dswh.js"></script>
    <script type="text/javascript">

    </script>
    <style>

    </style>
</head>

<body>
<div class="content">
    <include file="Public:menu"/>
     <!--修改弹窗-->
        <div class="main">
            <div class="ups的">
                <div class="ups-info">
                    <div class="ups-info-n">
                        <div class="info-name">项目</div>
                        <div class="info-in"><input name="项目" type="text" value="山西长荣农业科技股份有限公司1200头母猪场"/></div>
                    </div>

                    <div class="ups-info-n">
                        <div class="info-name">所属区域</div>
                        <div class="info-in"><input name="名称" type="text" value="华北地区"/></div>
                    </div>
                    <div class="ups-info-n">
                        <div class="info-name">所属省份</div>
                        <div class="info-in"><input name="名称" type="text" value="河北省"/></div>
                    </div>
                    <div class="ups-info-n">
                        <div class="info-name">所属子公司</div>
                        <div class="info-in"><input name="名称" type="text" value="大厂县子公司"/></div>
                    </div>
                    <div class="ups-info-n">
                        <div class="info-name">地址</div>
                        <div class="info-in"><input name="名称" type="text" value="大厂县东里乡"/></div>
                    </div>

                    <div class="ups-info-n">
                        <div class="info-name">负责人</div>
                        <div class="info-in"><input name="排序" type="text" value="100"/></div>
                    </div>
                    <div class="ups-info-n">
                        <div class="info-name">电话</div>
                        <div class="info-in"><input name="排序" type="text" value="100"/></div>
                    </div>
                    <div class="ups-info-n">
                        <div class="info-name">说明</div>
                        <div class="info-in"><input name="排序" type="text" value="100"/></div>
                    </div>
                    <div class="ups-info-n">
                        <div class="info-name">报警电话</div>
                        <div class="info-in"><input name="排序" type="text" value="100"/></div>
                    </div>
                    <div class="ups-button" style="margin-left:200px;">提交</div>

                </div>
                
            </div>
        </div>

       
    </div>


</div>
<!---->
</div>
</body>


</html>
